/* IMAGES GALLERY */

/* Contenedor grid para las imagenes de la galería */
.grid-container {
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 10px;
}

/* Contenedor de la imagen con una altura establecida y un posicionamiento relativo */
.image-container {
  position: relative;
  height: 400px;
}

/* Clase de la imagen donde le da una altura, anchura y borde redondeado */
.image {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}

/* Contenedor posicionado absolutamente con un color de fondo semi transparente para el texto de la imagen */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Hover del contenedor para mostrar el texto */
.image-container:hover .overlay {
  opacity: 1;
}

/* Tamaño, color y alineación del texto para la imagen */
.text {
  color: var(--white);
  font-size: 20px;
  text-align: center;
}

/* Media query para tablet */
@media screen and (max-width: 768px) {
  /* Contenedor grid pasa de tener tres filas a una */
  .grid-container {
    grid-template-columns: 1fr;
  }
}

/* Media query para mobile */
@media screen and (max-width: 480px) {
  /* Cambia la altura del contenedor de la imagen */
  .image-container {
    height: 250px;
  }
}
